.program-sidebar {
  position: relative;
  height: 100%;
  min-height: 70vh;
  padding: 24px 0 50px;
  background-color: #fafafa;
  box-shadow: inset 0 7px 9px -7px rgb(0 0 0 / 10%);
}

.program-sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.program-sidebar .topic-types-selector {
  padding-right: 2px;
}

.program-sidebar--empty {
  display: flex;
  align-items: center;
  justify-content: center;
}

.program-sidebar--left {
  border-right: 1px solid #d9d9d9;
}

.program-sidebar--right {
  padding-right: 25px;
  padding-left: 25px;
  border-left: 1px solid #d9d9d9;
}

.program-sidebar--right .ant-form-item-control-input-content {
  display: flex;
  justify-content: end;
}

.program-sidebar--right .tree-select .ant-form-item-control-input-content {
  display: block;
}

.program-sidebar__add-btn {
  position: absolute;
  right: 4px;
  bottom: 4px;
}

.program-sidebar__list-item {
  margin-bottom: 0px;
  padding: 9px 0px 9px 18px;
  border: 1px solid transparent;
  border-right: none;
  transition: background-color 0.3s ease;
}

.program-sidebar__list-item a span:last-child {
  margin-left: auto;
}

.program-sidebar__list-item a span.title {
  margin-right: 8px;
}

.program-sidebar__list-item:hover > a {
  background-color: rgb(0 0 0 / 5%);
}

.program-sidebar__list-item a {
  display: flex;
  align-items: center;
  color: #000;
}

.program-sidebar__list-item svg {
  margin-right: 12px;
}

.program-sidebar__list-item--active {
  background-color: rgb(24 144 255 / 10%);
  border-color: #1890ff;
}

.program-sidebar__list-item--active a {
  color: #1890ff;
}

.program-sidebar__list-item--active:hover {
  background-color: rgb(24 144 255 / 10%);
}

.program-sidebar__list-item--lesson {
  display: block;
  padding-right: 0px;
  padding-left: 9px;
}

.program-sidebar__list-item--lesson-new {
  display: flex;
  align-items: center;
  padding-right: 3px;
}

.program-sidebar__lesson--actions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: space-between;
}

.program-sidebar__lesson--actions > a {
  flex-basis: 100%;
}

.program-sidebar__lesson--actions .topic-types-selector {
  opacity: 0;
}

.program-sidebar__lesson--actions .topic-types-selector--visible {
  opacity: 1;
}

.program-sidebar__lesson--actions:hover .topic-types-selector {
  opacity: 1;
}

.program-sidebar__list-item--lesson .program-sidebar__lesson--actions > a {
  margin-right: auto;
  color: rgb(0 0 0 / 45%);
}

.program-sidebar__list-item--lesson .btn-create-lesson {
  margin-left: 8px;
}

.program-sidebar__list-item--lesson button svg {
  margin-right: 0;
}

.program__cta-footer {
  position: absolute;
  bottom: -42px;
  width: 100%;
}

.program__empty-message {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.program-sidebar__list-item a.program-sidebar__link {
  /*
  display: grid;
  grid-auto-flow: column;
  width: auto;
  */
}

.program-sidebar__list-item a.program-sidebar__link--active {
  color: #000;
}

.program-sidebar__title {
  display: -webkit-box;
  width: 100%;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-inline: 0 auto;
}
