.topic-types-selector {
  position: relative;
  display: inline-block;
  padding-left: 8px;
}

.topic-types-selector__list {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1050; /* zindex equal to @zindex-dropdown */
  min-width: 48px;
}
