.modalContent {
  display: flex;
  flex-direction: column;
  max-height: 90vh;
}

.modalBody {
  min-height: 0;
  overflow-y: auto;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 24px;
}
