@import '~antd/es/style/themes/default.less';

// colors of menu categories
@colors: 'users' #f2d434, 'sales' #7b61ff, 'courses' #28bd25, 'analytics' #f47820,
  'configuration' #7b8fa2, 'other' #ba25bd;

html,
body,
#root {
  height: 100%;
}

// stylelint-disable selector-class-pattern
.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;

        > span {
          display: block;
        }
      }
    }
  }
}

// 兼容IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}

.ant-form-vertical {
  .ant-form-item-label {
    flex: 0 0 auto !important;
  }
}

.ant-dropdown-menu {
  width: 105px !important;
}

.ant-form-item-label > label {
  font-weight: bold;
}

.ant-form-vertical .ant-pro-form-group {
  display: flex;
  padding: 50px 0 10px;
  border-top: 1px solid @border-color-base;

  .ant-pro-form-group-title {
    flex: 0 0 120px;
    margin-right: 10px;
    color: @text-color-secondary;
    font-size: @font-size-sm;
    text-transform: uppercase;
  }

  &:first-of-type {
    padding-top: 20px;
    border-top: none;
  }

  .ant-form-item-extra {
    order: -1;
    margin: 8px 0 12px;
  }

  .ant-space-align-start {
    align-items: stretch;
  }

  .ant-form-item {
    height: calc(100% - @form-item-margin-bottom);
  }

  .ant-form-item-control {
    flex-grow: 0;
    width: 100%;
    margin-top: auto;
  }
}

// for loop to iterate over array
.each(@array, @i: 1) when (@i <= length(@array)) {
  @pair: extract(@array, @i);
  @name: extract(@pair, 1);
  @color: extract(@pair, 2);

  .ant-menu-submenu-title[data-menu-id$='@{name}'] {
    color: @color !important;

    * {
      color: @color !important;
    }
  }

  .ant-menu-sub[id$='@{name}-popup'] {
    .ant-menu-item::after {
      background-color: @color;
      border-right-color: @color;
    }

    .ant-menu-item a:hover {
      color: #333;
    }

    .ant-menu-item-active,
    .ant-menu-item-selected {
      color: #333;
      background-color: rgb(@color 0.1);
    }

    .ant-menu-item-selected a {
      color: #333;
    }
  }

  .each(@array, @i + 1);
}

// application
.each(@colors);
